.list {
  text-align: center;
}

.list-group-item {
  width: 400px;
  text-align: left;
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.toggle {
  width: 40px;
  height: auto;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none
}